.impowerBox .qrcode {width: 100px; !important}
.impowerBox .title {display: none;}
.impowerBox .info {width: 100px; !important}
.status_icon {display：none  !important}
.impowerBox .status {text-align: center;}